@model ViewModelTemplate.Models.CustomerOrders

@section Scripts {

<script type="text/javascript">
    $(document).ready(function () {
        $(".partviewload").click(function (evt) {
            var cell = $(evt.target).closest("tr").children().first();
            var OrdNo = cell.text().replace(/(^\s+|\s+$)/g,'');
            $("#partview").load("/Customer/products", { ordNo: OrdNo });
        });
    });
</script>
}

@{
    ViewBag.Title = "orders";
}

<h2>Customer Orders</h2>

<div class="container" style="float:left;">
    <div class="col-md-3">
        <span style="font-weight:bold">Customer</span><br/><br/>
        @Html.DisplayFor(model => model.customer.CustFirstName) 
        @Html.DisplayFor(model => model.customer.CustLastName)
        <br />
        @Html.DisplayFor(model => model.customer.CustStreet)
        <br />
        @Html.DisplayFor(model => model.customer.CustCity), 
        @Html.DisplayFor(model => model.customer.CustState) 
        @Html.DisplayFor(model => model.customer.CustZip)
    </div>
    <div class="col-md-9">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdNo)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdDate)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdName)</th>
                <th></th>
            </tr>
            @foreach (var item in Model.orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdNo)
                    </td>
                    <td>@{ 
                        var shortDate = item.OrdDate.ToShortDateString();
                    }
                        @shortDate
                    </td>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdName)
                    </td>
                    <td>
                        @*@Html.ActionLink("View Products", "products", new { id = item.OrdNo })*@
                        <!--<input type="button" value="View Products" class="partviewload"/>-->
                        <button class="partviewload">View Products</button>
                    </td>
                </tr>
             }
        </table>
        

    </div>
   
</div>
<div style="float:right;" id="partview"></div>
<br />
<br />
<br />
<div style="clear:both">
    <p>
        <br />
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


