@model IEnumerable<ViewModelTemplate.Models.OrderDetails>
@{
    ViewBag.Title = "orderDetails";
}
<h2>products</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdPrice)
            </td>
            <td></td>
        </tr>
    }
</table>
