@using ViewModelTemplate.Models
@model CustomerOrders

@{
    ViewBag.Title = "orders";
}

<script>
    $(document).ready(function () {
        $(".renderView").click(function (evt) {
            var cell = $(evt.target).closest("tr").children().first();
            var OrdNo = cell.text();
            $("#prodDetailsDiv").load("/Customer/ProdDetailsPartial", { ordNo: OrdNo });
        });
    });
</script>

<h2>Customer Orders</h2>

<div class="container">
    <div class="col-md-3">
        <span style="font-weight:bold">Customer</span><br/><br/>
        @Html.DisplayFor(model => model.customer.CustFirstName) 
        @Html.DisplayFor(model => model.customer.CustLastName)
        <br />
        @Html.DisplayFor(model => model.customer.CustStreet)
        <br />
        @Html.DisplayFor(model => model.customer.CustCity), 
        @Html.DisplayFor(model => model.customer.CustState) 
        @Html.DisplayFor(model => model.customer.CustZip)
    </div>
    <div class="col-md-9">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdNo)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdDate)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdName)</th>
            </tr>
            @foreach (var item in Model.orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdNo)
                        @*@Html.ActionLink(item.OrdNo, "ProdDetailsPartial", new { ordNo = item.OrdNo })*@
                    </td>
                    <td>@{ 
                        var shortDate = item.OrdDate.ToShortDateString();
                    }
                        @shortDate
                    </td>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdName)
                    </td>
                    <td>
                        @*@Ajax.ActionLink("Details", "ProdDetailsPartial", "Customer", new { ordNo = item.OrdNo },
                            new AjaxOptions { UpdateTargetId = "prodDetailsDiv" } )*@
                        @*@Ajax.RouteLink("Details", "ProdDetailsPartial", "Customer", 
                            new AjaxOptions { UpdateTargetId = "prodDetailsDiv" }, new { ordNo = item.OrdNo })*@
                        @Html.ActionLink("Details", "ProdDetailsPartial", new { ordNo = item.OrdNo})
                        <button class="btn btn-success renderView">Details</button>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="prodDetailsDiv">
    </div>
</div>
<p>
    <br/>
    @*Html.ActionLink("Edit", "Edit", new { id = Model.custNo }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
