@model ViewModelTemplate.Models.CustomerOrders

@{
    ViewBag.Title = "orders";
}

<h2>Customer Orders</h2>

<div class="container">
    <div class="col-md-3">
        <span style="font-weight:bold">Customer</span><br/><br/>
        @Html.DisplayFor(model => model.customer.CustFirstName) 
        @Html.DisplayFor(model => model.customer.CustLastName)
        <br />
        @Html.DisplayFor(model => model.customer.CustStreet)
        <br />
        @Html.DisplayFor(model => model.customer.CustCity), 
        @Html.DisplayFor(model => model.customer.CustState) 
        @Html.DisplayFor(model => model.customer.CustZip)
    </div>
    <div class="col-md-9">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdNo)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdDate)</th>
                <th>@Html.DisplayNameFor(model => model.orders[0].OrdName)</th>
            </tr>
            @foreach (var item in Model.orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdNo)
                    </td>
                    <td>@{ 
                        var shortDate = item.OrdDate.ToShortDateString();
                    }
                        @shortDate
                    </td>
                    <td>
                        @Html.DisplayFor(Modelitem => item.OrdName)
                    </td>
                </tr>
            }
        </table>
    </div>
    
</div>
<p>
    <br/>
    @*Html.ActionLink("Edit", "Edit", new { id = Model.custNo }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
